body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 30px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-align: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  display: block;
}

.fechar-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

#abrir-modal,
input[type="submit"],
input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #04BF8A;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}



.action {
  width: 200px;
}

.top-nav {
  background-color: #024059;
  display: flex;
  justify-content: space-between;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.top-nav li {
  margin: 0;
}

.top-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.top-nav a:hover {
  background-color: #025d81;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

#login-form,
#book-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.header {
  text-align: center;
  padding: 0 60px;
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

footer p {
  padding: 10px;
}

.header-login {
  width: 100%;
}

#pointer {
  cursor: pointer;
}